<div class="page-header">
    <h1>
        Sections
    </h1>
</div>
<div class="panel-group" id="panel-33763">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-33763" href="#panel-element-1">Technologies</a>
        </div>

        <!--FIXME: to enable the javascript function needs a reference with the same of the id-->
        <div id="panel-element-1" class="panel-collapse collapse">
            <div class="panel-body">
                <!--Content Panel-->
                <ul>
                    <li><a href="#article/backbone">Backbone.js</a></li>
                    <ul>
                        <li>jQuery</li>
                        <li>Underscore.js</li>
                        <li>Require.js</li>
                    </ul>

                    <li>Server:</li>
                    <ul>
                        <li>Nginx (in AWS)</li>
                        <li>Node.js</li>
                        <li>MongoDB</li>
                        <li>WebSockets</li>
                    </ul>
                    <li>Testing</li>
                    <ul>
                        <li>Jasmin</li>
                        <li>sinon (<a href="http://tinnedfruit.com/2011/03/03/testing-backbone-apps-with-jasmine-sinon.html" target="_blank">Tutorial</a>)</li>
                    </ul>
                    <li>Apache Cordova</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-33763" href="#panel-element-2">Libraries</a>
        </div>
        <div id="panel-element-2" class="panel-collapse collapse">
            <div class="panel-body">

                <ul>
                    <li>Bootstrap</li>
                    <li>iScroll</li>
                    <li>Animate.css</li>
                    <li>ckeditor</li>
                    <li>prims.js (sintax Hightlight)</li>

                </ul>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-33763" href="#panel-element-3">Features</a>
        </div>
        <div id="panel-element-3" class="panel-collapse collapse">
            <div class="panel-body">

                <ul>
                    <li>HTML5 mobile platform tricks</li>
                    <ul>
                        <li>HTML5 Mobile Snipets <a href="html5-snipets.html">here</a></li>
                        <li>Video</li>
                        <li>Audio</li>
                        <li>Sensors</li>
                        <li>...</li>
                    </ul>
                    <li>Login with Goole+, facebook ID, twitter ID, OpenID</li>
                    <li>Responsive Design</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-33763" href="#panel-element-4">Integration APIS</a>
        </div>
        <div id="panel-element-4" class="panel-collapse collapse">
            <div class="panel-body">

                <ul>
                    <li>Leap Motion</li>
                    <li>Google Maps</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-33763" href="#panel-element-5">Miscelaneous</a>
        </div>
        <div id="panel-element-5" class="panel-collapse collapse">
            <div class="panel-body">

                <ul>
                    <li>Git</li>
                    <li>NetBeans</li>
                    <li>SublimeText</li>
                    <li>Evernote</li>
                    <li>MacOX</li>
                    <li>...</li>
                    <li><i>Passion and Patience</i></li>
                </ul>

            </div>
        </div>
    </div>
</div>