<div class="page-header">
    <h1>
        Feature title <small>Subtext for header</small>
    </h1>
</div>
<div class="tabbable" id="tabs-524553">
    <ul class="nav nav-tabs">
        <li>
            <a href="#panel-345520" data-toggle="tab">Description</a>
        </li>
        <li class="active">
            <a href="#panel-554761" data-toggle="tab">Code</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="panel-345520">
            <h2>
                Description title
            </h2>
            <div>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </div>

        </div>
        <div class="tab-pane active" id="panel-554761">
            <h2>
                Code title
            </h2>
            <div>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </div>

        </div>
    </div>
</div> <span class="label label-info">HTML</span><span class="label label-default"></span> <span class="label label-info">JS</span><span class="label label-info"></span>
</div>