<div class="jumbotron">
    <h1>
        The Front-end Lab <br/>
        <small>by Jesús García </small>
    </h1>
    <p>
        The "Front-end Lab" is a documentation site with zillions of resources to build faster components in applications developed with HTML5 y JS.
    </p>
    <p>
        Therefore, we are using a lot of different libraries to enhance our applications and velocity.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p>
</div>
<blockquote>
    <p>
        Quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p> <small>Someone famous <cite>Source Title</cite></small>
</blockquote>
<div class="carousel slide" id="carousel-882903">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-882903">
        </li>
        <li data-slide-to="1" data-target="#carousel-882903">
        </li>
        <li data-slide-to="2" data-target="#carousel-882903">
        </li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="" src="assets/img/home/temp1.jpg" />
            <div class="carousel-caption">
                <h4>
                    First Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
        <div class="item">
            <img alt="" src="assets/img/home/temp2.jpg" />
            <div class="carousel-caption">
                <h4>
                    Second Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
        <div class="item">
            <img alt="" src="assets/img/home/temp3.jpg" />
            <div class="carousel-caption">
                <h4>
                    Third Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
    </div> <a class="left carousel-control" href="#carousel-882903" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-882903" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>