<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Rest Services</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>REST SERVICES</h1>
        
        <p>REST means Representation State Transfer</p>
        <p>An API REST give to transder an identical representation as is defined on server</p>
        <p>This REST use the protocol HTTP</p>
        <ul>
        	<li>GET</li>
        	<li>PUT</li>
        	<li>POST</li>
        	<li>DELETE</li>
        </ul>
        
        
    </body>
</html>
